{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block body %}
    <h4>Login</h4>
    <form method="post">
        {% if error %}
            <p class="red-text">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        {% endif %}
        <div class="input-field">
            <input type="email" name="_username" id="email" value="{{ last_username }}" required autofocus>
            <label for="email">Email</label>
        </div>
        <div class="input-field">
            <input type="password" name="_password" id="password" required>
            <label for="password">Password</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit">Login</button>
    </form>
{% endblock %}
